// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-green {
  color: #6c757d;
  background: #00FF00;
}

.btn-red {
  color: #6c757d;
  background: #F90000;
}

.btn-gray {
  color: #6c757d;
  background: #CCCCCC;
}